{% set option = {
    class:        field.class|default('form-control'),
    label:        field.label|default(''),
    pattern:      field.pattern|default(''),
    placeholder:  field.placeholder|default(''),
    errortext:    field.error|default(''),
    readonly:     field.readonly|default(false),
    required:     field.required|default(false),
    title:        field.title|default(''),
    variant:      field.variant|default(''),
    info:         field.info|default(''),
    height:       field.height|default(false)
} %}

{% set attr_search = {
    class:          option.class,
    id:             'search-' ~ key,
    title:          option.title,
    type:           'text'
} %}

{% set attr_hidden = {
    class:          option.class,
    name:           name,
    id:             key,
    type:           'hidden',
    value:          context.content.get(contentkey),
} %}

{% set attributes = {
    text: {
        class:           option.class,
        data_errortext:  option.errortext,
        name:            name|default(''),
        required:        option.required,
        style:           option.height ? 'height: ' ~ option.height ~ ';' : '',
    }
} %}

{% set buid = buid() %}


{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'textarea' %}
{% block fieldset_widget 'fieldTextarea' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12 control-label' %}

{% block fieldset_controls %}
    <div class="col-xs-12">

        <div id="relationlist-{{ buid }}">
            <app></app>
        </div>

        {% set values = context.content.get(contentkey)|default(field.default)|default %}

        {% set items = [] %}

        {% set related_globals    = getRelatedGlobals(values) %}
        {% set related_items      = getRelatedItems(values) %}
        {% set related_attributes = getRelatedAttributes(values) %}

        {% for item in related_items %}
            {% set items = items|merge([item.contenttype.slug~'/'~item.id]) %}
        {% endfor %}

        <textarea style="display:none"
                  {# json_encode(16) means JSON_FORCE_OBJECT #}
                  id="connector-{{ buid }}" {{ macro.attr(attributes.text) }}>
            {
                "globals": {{ related_globals|json_encode(16) }},
                "items": {{ items|json_encode}},
                "attributes": {{ related_attributes|json_encode(16) }}
            }
        </textarea>

        <script type="application/javascript">
            $(function () {

                let definitions = JSON.stringify({
                    "globals": {{ field.globals|default({})|json_encode|raw  }},
                    "attributes": {{ field.items|default({})|json_encode|raw }}
                });

                let connector = '#connector-{{ buid }}';
                let apiurl = "{{ paths.bolt }}relationlist/finditems/{{ context.content.contenttype.slug }}/{{ key }}/";
                let jsonurl = "{{ paths.bolt }}relationlist/fetchJsonList";

                let options = {
                    apiurl: apiurl,
                    jsonurl: jsonurl,
                    element: '#relationlist-{{ buid }}',
                    validation: {}
                };

                {% if field.options.min is defined %}
                options.validation.min = "{{ field.options.min }}";
                {% endif %}

                {% if field.options.max is defined %}
                options.validation.max = "{{ field.options.max }}";
                {% endif %}

                let cnRelationList = new CnRelationList({
                    options: options,
                    value: $(connector).val() || '{}',
                    definitions: definitions,
                    onRelationUpdated: function (data) {
                        $(connector).val(JSON.stringify(data));
                    }
                });
            });

        </script>

    </div>
{% endblock fieldset_controls %}