{% set option = {
    class:        field.class|default('form-control'),
    label:        field.label|default(''),
    pattern:      field.pattern|default(''),
    placeholder:  field.placeholder|default(''),
    errortext:    field.error|default(''),
    readonly:     field.readonly|default(false),
    title:        field.title|default(''),
    variant:      field.variant|default(''),
    info:         field.info|default('')
} %}

{% set attr_search = {
    class:          option.class,
    id:             'search-' ~ key,
    title:          option.title,
    type:           'text'
} %}

{% set attr_hidden = {
    class:          option.class,
    name:           name,
    id:             key,
    type:           'hidden',
    value:          context.content.get(contentkey),
} %}

{% set attributes = {
    text: {
        class:           option.class,
        data_errortext:  option.errortext,
        name:            name,
        required:        option.required,
        style:           option.height ? 'height: ' ~ option.height ~ ';' : '',
    }
} %}

{% set buid = buid() %}


{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'textarea' %}
{% block fieldset_widget 'fieldTextarea' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12 control-label' %}

{% block fieldset_controls %}
    <div class="col-xs-12">

        <div id="relationlist-{{ buid }}">
            <app></app>
        </div>

        {% set values = context.content.get(contentkey)|default(field.default)|default({items:[]}) %}

        {% set relation = [] %}
        {% set relation = relation|merge(getRelatedGlobals(values)) %}
        {% set relation = relation|merge(getRelatedItems(values)) %}

        <textarea style="display:none"
                  id="connector-{{ buid }}" {{ macro.attr(attributes.text) }}>{{ relation|json_encode }}</textarea>

        <script type="application/javascript">
            $(function () {

                let definitions = '{{ field.globals|default('{}')|json_encode|raw }}';
                let connector = '#connector-{{ buid }}';
                let apiurl = "{{ paths.bolt }}relationlist/finditems/{{ context.content.contenttype.slug }}/{{ key }}/";

                let cnRelationList = new CnRelationList({
                    options: {
                        apiurl: apiurl,
                        element: '#relationlist-{{ buid }}',
                        timeout: 800
                    },
                    value: $(connector).val() || '{}',
                    definitions: definitions,
                    onRelationUpdated: function (data) {
                        $(connector).val(JSON.stringify(data));
                    }
                });
            });
        </script>

    </div>
{% endblock fieldset_controls %}