{% set option = {
    class:        field.class|default('form-control'),
    label:        field.label|default(''),
    pattern:      field.pattern|default(''),
    placeholder:  field.placeholder|default(''),
    errortext:    field.error|default(''),
    readonly:     field.readonly|default(false),
    required:     field.required|default(false),
    title:        field.title|default(''),
    variant:      field.variant|default(''),
    info:         field.info|default(''),
    height:       field.height|default(false)
} %}

{% set attr_search = {
    class:          option.class,
    id:             'search-' ~ key,
    title:          option.title,
    type:           'text'
} %}

{% set attr_hidden = {
    class:          option.class,
    name:           name,
    id:             key,
    type:           'hidden',
    value:          context.content.get(contentkey),
} %}

{% set attributes = {
    text: {
        class:           option.class,
        data_errortext:  option.errortext,
        name:            name|default(''),
        required:        option.required,
        style:           option.height ? 'height: ' ~ option.height ~ ';' : '',
    }
} %}

{% set buid = buid() %}


{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'textarea' %}
{% block fieldset_widget 'fieldTextarea' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12 control-label' %}

{% block fieldset_controls %}

    <div class="col-xs-12">

        <div id="relationlist-{{ buid }}">
            <app></app>
        </div>

        {% set values = context.content.get(contentkey)|default(field.default)|default %}

        {% set items = [] %}

        {% set related_globals    = RelationList.getGlobals(values) %}
        {% set related_items      = RelationList.getItems(values) %}

        <textarea style="display:none;"
                  id="connector-{{ buid }}" {{ macro.attr(attributes.text) }}>{{ values|default('{}') }}</textarea>

        <script type="application/javascript">
            $(function () {

                var definitions = JSON.stringify({
                    "globals": {{ field.globals|default({})|json_encode|raw  }},
                    "attributes": {{ field.attributes|default({})|json_encode|raw }}
                });

                var connector = '#connector-{{ buid }}';
                var searchurl = "{{ paths.bolt }}relationlist/search/{{ context.content.contenttype.slug }}/{{ key }}/";
                var fetchurl = "{{ paths.bolt }}relationlist/fetch";

                var value = $(connector).val() || '{}';
                var options = {
                    searchurl: searchurl,
                    fetchurl: fetchurl,
                    element: '#relationlist-{{ buid }}',
                    validation: {}
                };

                {% if field.min is defined %}
                options.validation.min = "{{ field.min }}";
                {% endif %}

                {% if field.max is defined %}
                options.validation.max = "{{ field.max }}";
                {% endif %}

                let cnRelationList = new CnRelationList({
                    options: options,
                    value: value,
                    definitions: definitions,
                    onRelationUpdated: function (data) {
                        $(connector).val(JSON.stringify(data));
                    }
                });
            });

        </script>

    </div>
{% endblock fieldset_controls %}
